@media screen and (min-width: 600px){
/*social media links*/
.socials{
    float: right;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
.fa-facebook {
    background: #469FAD;
    color: white;
  }
.fa-linkedin {
    background: #469FAD;
    color: white;
  }
.fa:hover {
    opacity: 0.7;
    color: white;
}


/*index introduction*/
.introduction{
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;  
}
.nameintro{
    text-shadow: 2px 2px 5px #469FAD;
}
.introcol{
    padding: 20px;
}
.resume{
    background: #469FAD;
}
.resume:hover{
    opacity: 0.7;
    color: white;
}

/*index about*/
.aboutsection{
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 25px;
    background-color: #469FAD;
}
.abouttitle{
    box-shadow: 10px 10px 5px #343a40;
}
.personal{
    text-align: center;
    padding-bottom: 20px;
}
.hcucf{
    color: white;
}

/*links*/
a{
    color:#469FAD;
}


/*index skils*/
.skillsintro{
    text-align: center;
    padding-top: 25px;
    padding-right: 80px;
    padding-left: 80px;
    box-shadow: 10px 10px 5px #469FAD; 
}
.skillssection{
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 25px;
    background-color: #469FAD;
}
ul{
    list-style-type: none;
}

/*contact page*/
.contactinfo{
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.info{
    background-color: white;
}
.contactheader{
    box-shadow: 10px 10px 5px whitesmoke; 
}
/*contact form*/
.contactform{
    text-align: center;
    padding: 20px;
}
.submitbtn{
    background: #469FAD;
}
.submitbtn:hover{
    opacity: 0.7;
    color: white;
}

/*works page*/
.projectintro{
    padding-top: 15px;
    padding-bottom: 25px;
}
.uiux{
    padding-top: 15px;
    padding-bottom: 60px;
    padding-right: 80px;
    padding-left: 80px;
}
.webdev{
    padding-bottom: 60px;
    padding-right: 80px;
    padding-left: 80px;
}
.gamedes{
    padding-bottom: 60px;
    padding-right: 80px;
    padding-left: 80px;
}

}

/*mobile image sizing*/

@media screen and (max-width: 500px){
   /*park pro image*/
    .parkpro{
        height: 200px;
        width: 400px;
        padding-top: 20px;
    }
    .myFlorida{
        height: 200px;
        width: 400px;
        padding-top: 20px;
    }
    .gamedes{
        height: 200px;
        width: 400px;
        padding-top: 20px;
        padding-bottom: 20px
    }
    .gdesign{
        height: 200px;
        width: 400px;
        padding-top: 20px;
    }
    .profile{
        height: 200px;
        width: 200px;
    }
    .avatar{
        height: 200px;
        width: 200px;
    }
}
